fastapi
uvicorn[standard]
python-multipart
requests
portkey-ai
rich
beautifulsoup4
scipy
pypdf
SpeechRecognition
streamlit
torch
torchaudio
librosa
resemble-perth
safetensors
huggingface-hub
chatterbox-tts
pyaudio
